---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@font-face {
    font-family: 'Avengeance';
    src: url('/assets/fonts/avengeance_heroic_avenger-webfont.eot');
    src: url('/assets/fonts/avengeance_heroic_avenger-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/avengeance_heroic_avenger-webfont.woff2') format('woff2'),
         url('/assets/fonts/avengeance_heroic_avenger-webfont.woff') format('woff'),
         url('/assets/fonts/avengeance_heroic_avenger-webfont.ttf') format('truetype'),
         url('/assets/fonts/avengeance_heroic_avenger-webfont.svg#avengeance_heroic_avengerRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Komika';
    src: url('/assets/fonts/Komika_Hand-webfont.eot');
    src: url('/assets/fonts/Komika_Hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Komika_Hand-webfont.woff2') format('woff2'),
         url('/assets/fonts/Komika_Hand-webfont.woff') format('woff'),
         url('/assets/fonts/Komika_Hand-webfont.ttf') format('truetype'),
         url('/assets/fonts/Komika_Hand-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("/assets/images/carbon_fibre_big.png");
    background-size: tile;
    color: #f9f9f9;
    font-family: "Arial", sans-serif;
}

section, footer {
    width: 85%;
    margin: 0px auto !important;
}

a, a:visited {
    color: #f9f9f9;
    text-decoration: none;
}

h2, h3 {
    font-family: Komika;
    margin: 20px 0px;
}

#lightning_canvas {
  pointer-events: none;
}

.thor{
  height: 300px;
}

.superhero-background {
  width: 300px;
  float: left;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

p {
    margin: 20px 0px;
}

section {
    margin-top: 50px;

    &:first-of-type {
        margin-top: 0px;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "header",
        "splash",
        "about",
        "schedule",
        "location",
        "sponsors"
;
