<section id="schedule">
    <h2>Schedule</h2>
    <p> “To defeat Uncon, we’ve arranged some amazing pre-prepared, pre-scheduled, and totally preposterous presentations. Check out the<a href="https://gist.github.com/robschley/866faffc3926b0099bec"><font color="blue"> schedule!</font></a></p>
    <div class="days">
        <div class="day-one">
            <h3>Day 1 - Conference</h3>
            <ul class="comic">
                <li>
                    <span class="time">9:30am</span>
                    <span class="event">Meet 'n Greet</span>
                </li>
                <li>
                    <span class="time">10am</span>
                    <span class="event">Registration</span>
                </li>
                <li class="break green">
                  <img class="tabasco" src="/assets/images/Hot-Sauce-1.png">
                </li>
                <li>
                    <span class="time">11am</span>
                    <span class="event">Presentations</span>
                </li>
                <li>
                    <span class="time">1pm</span>
                    <span class="event">Lunch/Project Reveal</span>
                </li>
                <li class="break red">
                  <img class="bearett" src="/assets/images/Bearett.png">
                </li>
                <li>
                    <span class="time">2pm</span>
                    <span class="event">More Presentations</span>
                </li>
                <li>
                    <span class="time">5:30pm</span>
                    <span class="event">Party Time!</span>
                </li>
                <li class="break blue">
                  <img class="sazerex" src="/assets/images/Sazerex.png">
                </li>
            </ul>
            <p>
                Day 1 is chock-full of interesting presentations by attendees. First thing in the morning the schedule gets filled in by you and other attendees.
            </p>
            <p>
                It's a multi-track schedule, so pick and choose your favorite presentations as you go throughout the day.
            </p>
            <p>
                For attendees preparing a talk, there are 2 time slots: 20 minutes or 40 minutes
            </p>
        </div>
        <div class="day-two">
            <h3>Day 2 - Project Day</h3>
            <ul class="comic">
                <li>
                    <span class="time">9:30am</span>
                    <span class="event">Coffee 'n Breakfast </span>
                </li>
                <li>
                    <span class="time">10am</span>
                    <span class="event">Project Overview</span>
                </li>
                <li class="break red">
                  <img class="flambeaux" src="/assets/images/Flambeaux.png">
                </li>
                <li>
                    <span class="time">10:30am</span>
                    <span class="event">Buildy Build Time</span>
                </li>
                <li>
                    <span class="time">12pm</span>
                    <span class="event">Lunch</span>
                </li>
                <li class="break dark">
                  <img class="snowball" src="/assets/images/Snoball.png">
                </li>
                <li>
                    <span class="time">1:30pm</span>
                    <span class="event">More Buildin'</span>
                </li>
                <li>
                    <span class="time">5pm</span>
                    <span class="event">Finish &amp; Celebrate</span>
                </li>
                <li class="break purple">
                  <img class="uncon" src="/assets/images/UNCON-flying.png">
                </li>
            </ul>
            <p>
                Day 2 is Project Day! We bring Barcamp attendees together to all work as a community on a very fun project and/or projects.
            </p>
            <p>
                It's a day of learning by doing, and maybe try to actually apply some of the fun ideas you learned on Day 1.
            </p>
            <p>
                The Day 2 project is not announced until lunchtime on Day 1.
            </p>
        </div>
    </div>
    <div class="after-party">
      <div class="thor-container">
          <img src="/assets/images/Bario-1.png" class="thor">
      </div>
        <h3>The After Party</h3>
        <p>
            Saturday, after the main event, starting at 5:30 we will be hosting the afterparty. Location: TBA.
        </p>
    </div>


</section>
