<section id="schedule">
    <h2>Schedule</h2>
    <div class="days">
        <div class="day-one">
            <h3>Day 1 - Conference</h3>
            <ul>
                <li>
                    <span class="time">9:30a</span>
                    <span class="event">Meet 'n Greet</span>
                </li>
                <li>
                    <span class="time">10a</span>
                    <span class="event">Registration</span>
                </li>
                <li>
                    <span class="time">11a</span>
                    <span class="event">Presentations</span>
                </li>
                <li>
                    <span class="time">1p</span>
                    <span class="event">Lunch/Project Reveal</span>
                </li>
                <li>
                    <span class="time">2p</span>
                    <span class="event">More Presentations</span>
                </li>
                <li>
                    <span class="time">5:30p</span>
                    <span class="event">Party Time!</span>
                </li>
            </ul>
            <p>
                Day 1 is chock-full of interesting presentations by attendees. First thing in the morning the schedule gets filled in by you and other attendees.
            </p>
            <p>
                It's a multi-track schedule, so pick and choose your favorite presentations as you go throughout the day.
            </p>
            <p>
                For attendees preparing a talk, there are 2 time slots: 20 minutes or 40 minutes
            </p>
        </div>
        <div class="day-two">
            <h3>Day 2 - Project Day</h3>
            <ul>
                <li>
                    <span class="time">9:30a</span>
                    <span class="event">Coffee 'n Breakfast </span>
                </li>
                <li>
                    <span class="time">10a</span>
                    <span class="event">Project Overview</span>
                </li>
                <li>
                    <span class="time">10:30a</span>
                    <span class="event">Buildy Build Time</span>
                </li>
                <li>
                    <span class="time">12p</span>
                    <span class="event">Lunch</span>
                </li>
                <li>
                    <span class="time">1:30p</span>
                    <span class="event">More Buildin'</span>
                </li>
                <li>
                    <span class="time">5p</span>
                    <span class="event">Finish &amp; Celebrate</span>
                </li>
            </ul>
            <p>
                Day 2 is Project Day! We bring Barcamp attendees together to all work as a community on a very fun project and/or projects.
            </p>
            <p>
                It's a day of learning by doing, and maybe try to actually apply some of the fun ideas you learned on Day 1.
            </p>
            <p>
                The Day 2 project is not announced until lunchtime on Day 1.
            </p>
        </div>
    </div>
    <div class="after-party clearfix">
        <div style="width:300px; float:left"><img src="/assets/images/Bario-1.png" class="thor"></div>
        <h3>The After Party</h3>
        <p>
            Saturday, after the main event, starting at 5:30 we will be hosting the afterparty. Location: TBA.
        </p>
    </div>

</section>
