<section id="splash">
	<div class="spash-inner">
		<div class="logo-container">
			<img class="looming-uncon" src="/assets/images/UNCON.png"/>
			<img class="main-logo" src="/assets/images/BarCamp8-Logo.png"></img>
		</div>
		<nav>
			<a class="register" href="https://www.eventbrite.com/e/barcampnola-8-tickets-17235263136#">Register</a>
			<a class="normal" href="#about">About&nbsp; &nbsp;Barcamp</a>
			<a class="normal" href="#schedule">Schedule</a>
			<a class="normal" href="#location">Location</a>
			<a class="normal stan-lee" href="#sponsors">Sponsors</a>
		</nav>
	</div>
</section>
