#about {
    margin-top: 150px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .thor-container {
        box-sizing: content-box;
        padding-left: 20px;
        width: 270px;
        background-image: radial-gradient(
            ellipse farthest-corner
            rgba(200, 200, 200, 0.83),
            rgba(200, 200, 200, 0),
            rgba(200, 200, 200, 0)
        );

    }

    .copy-text {
        flex-grow: 1;
        min-width: 400px;
        max-width: 800px;
    }

}
