#location {

    .maps {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        img, iframe {
            display: block;
            border-radius: 10px;
            margin: 20px;
        }
    }

}
