#schedule {
    padding-top: 50px;

    .days {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .day-one, .day-two {
            flex-grow: 1;
            margin: 20px;
            min-width: 390px;
            max-width: 500px;
        }

        ul.comic {
          color: black;
          width: 100%;
        }

        li {
            display: inline-flex;
            flex-direction: row;
            padding: 5px;
            border: medium solid black;
            background-color: white ;
            border-radius: 5px;
            margin: 3px;
            position: relative;
            padding-top: 25px;

            .time, .event {
                font-family: Komika;
                display: block;
                vertical-align: middle;
                font-size: 1.5em;
                transform: skewX(-15deg);
            }

            .time {
                color: gold;
                background-color: #111;
                transform: skewX(-15deg);
//                border-radius: 5px;
                //width: 80px;
                padding: 5px 5px 7px;
                border: 1px solid #f9f9f9;
                text-align: center;
                position: absolute;
                left: -5px;
                top: -15px;
            }

            .event {
                font-weight: bold;
                padding-left: 15px;
            }
        }

        li {
          width: 48%;
          background-size: cover;
          height: 100px;
        }

        li:nth-child(1) {
          background-color: #F2F5A9;
        }

        li:nth-child(2) {
          background-color: #F5ECCE;
        }
        li:nth-child(4) {
          background-color: #E0ECF8;
        }
        li:nth-child(5) {
          background-color: #D8F781;
        }
        li:nth-child(7) {
          background-color: #BCA9F5;
        }
        li:nth-child(8) {
          background-color: #E6E6E6;
        }

        li.break {
          width: 98%;
          height: 200px;
          text-align: center;
          img {
            height: 120%;
            position: absolute;
            top: -10%;
            left: 35%;
            z-index: 5;
          }

          img.bearett {
            left: 25%;
          }
          img.snowball, img.flambeaux {
            left: 28%;
          }
        }
        li.break.red {
          background-image: url("/assets/images/superhero-background-red.jpg");
        }
        li.break.blue {
          background-image: url("/assets/images/superhero-background-blue.jpg");
        }
        li.break.green {
          background-image: url("/assets/images/superhero-background-green.jpg");
        }
        li.break.purple {
          background-image: url("/assets/images/superhero-background-purple.jpg");
        }
        li.break.dark {
          background-image: url("/assets/images/superhero-background-dark.jpg");
        }
    }
    .thor-container {
        float: left;
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: content-box;
        padding-left: 20px;
        width: 270px;
        background-image: radial-gradient(
            ellipse farthest-corner
            rgba(200, 200, 200, 0.83),
            rgba(200, 200, 200, 0),
            rgba(200, 200, 200, 0)
        );

    }
  .after-party {
    // 'fix' a bug that causes scrollbar to appear
    height: 305px;
  }
}
