#splash {
    background-image: url("/assets/images/new_orleans_skyline.jpg");
    margin: 0px;
    width: 100%;
    padding-top: 1px;
    position: relative;

    &::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(
            ellipse farthest-corner,
            rgba(71, 71, 71, 0.83),
            rgba(34, 34, 34, 0.77),
            rgba(9, 7, 12, 0.76)
        );
        content: " ";
    }

    .splash-inner {
        width: 85%;
    }

    padding: 20px auto 0px auto;

    font-size: 2.1em;


    .logo-container {
        position: relative;
        margin: 23% auto 0px;
        width: 100%;
        max-width: 922px;

        .looming-uncon, .main-logo {
            width: 100%;
            display: block;
        }

        .looming-uncon {
            position: absolute;
            top: -70%;
        }

        .main-logo {
            position: relative;
        }
    }

    nav {
        position: relative;
    }

    a {
        display: block;
        margin: 20px auto;
        transition: color .5s;
        font-family: Avengeance;
        background-color: #222;
        border: 2px solid white;
        border-radius: 10px;
        padding: 15px 15px 5px 10px;
        width: 250px;
        text-align: center;

        &:hover {
            color: #F55;
            transition: color .5s;
        }
    }

    a.register {
        color: gold;
        transition: color .5s;

        &:hover {
            color: red;
        }
    }

}
