#sponsors {
    padding-top: 100px;

    .sponsors-container {
        display: -webkit-flex;
        -webkit-flex-direction: row;
        justify-content: center;
        margin: 40px 0px;

        .sponsor-spotlight {


            .large-logo {

            }

            .none-selected {
                font-family: Avengeance;
                font-size: 20em;
                width: 300px;
                background: rgba(255,255,255, 0.3);
                text-align: center;
                height: 300px;
                border-radius: 10px;
            }

            .description {

            }
        }

        .sponsors-menu {
            display: -webkit-flex;
            -webkit-flex-direction: row;
            -webkit-flex-wrap: wrap;
            max-width: 800px;
            justify-content: -webkit-flex-start;
            align-items: -webkit-flex-start;
            background: rgba(255, 255, 255, 1);

            .sponsor-icon {
                width: 100px;
                height: 100px;
                border-radius: 5px;
                margin: 15px;
                text-align: center;
                cursor: pointer;
                display: -webkit-flex;
                justify-content: center;
                -webkit-flex-direction: column;
                height: 100px;

                &:hover {
                    transition: background-color .5s;
                }

                img {
                    max-width: 100px;
                }
            }
        }
    }

    .sponsor-package {
        text-align: center;

        a {
            color: gold;
            display: block;
            margin: 20px auto;
            transition: color .5s;
            font-family: Avengeance;
            background-color: #222;
            border: 2px solid white;
            border-radius: 10px;
            padding: 15px 15px 5px 10px;
            width: 330px;
            font-size: 1.8em;

            &:hover {
                color: red;
                transition: color .5s;
            }
        }
    }
}
