<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include splash.html %}
    {% include about.html %}
    {% include schedule.html %}
    {% include location.html %}
    {% include sponsors.html %}

    {% include footer.html %}

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/lightning.packed.js"></script>
  <script src="/assets/js/site.js" type="text/javascript"></script>
</html>
